body, html {
    margin: 10;
    padding: 10;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#navbar {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin: 0 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#header-photo {
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: blue;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
